#videoFramework {
    display: none;
}

h1 {
    margin: auto;
    height: 25px;
    width: 280px;
    font-weight: 500;
    line-height: 10px;
    margin-top: 35px;
    font-size: 23px;
    color: #1a2e67;
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}